Er is een RSVP bijgekomen.

<br>
Aantal personen: {{ rsvp.aantalPersonen }}
<br>
Emailadres: {{ rsvp.emailadres }}
<br>
Vragen: {{ rsvp.vragen }}
<br>
Personen:

{% for persoon in rsvp.personen %}
    <ul>
        <li>Naam: {{ persoon.naam }}</li>
        <li>Nummers:
            <ul>
                {% for nummer in persoon.nummers %}
                    <li>
                        {{ nummer.nummer }}
                    </li>
                {% endfor %}
            </ul>
        </li>
    </ul>
{% endfor %}