{% extends 'base.html.twig' %}
{% block title %}RSVP | {{ parent() }}{% endblock %}

{% block body %}
    <body>
        <div class="rsvp">
            <div class="formulier">
                <h1>RSVP</h1>
                {{ form_start(form, {'attr' : {'novalidate' : 'novalidate'}}) }}
                    <div class="form-row">
                        <label for="{{ form.aantalPersonen.vars.id }}">Met hoeveel personen komen jullie?*</label>
                        {{ form_widget(form.aantalPersonen, {'attr' : {'class' : 'input aantalPersonen', 'min' : '1'}}) }}
                        <span class="backendError">{{ form_errors(form.aantalPersonen) }}</span>
                    </div>
                    <div class="extraPersonen">
                        <div class="form-row vast">
                            {% for persoon in form.personen %}
                                {% if loop.first %}
                                    <label for="{{ persoon.naam.vars.id }}">Eerste naam*</label>
                                    {{ form_widget(persoon.naam, {'attr' : {'class' : 'input'}}) }}
                                    <span class="backendError">{{ form_errors(persoon.naam) }}</span>
                                    <label>Verzoeknummers</label>
                                    {% for nummer in persoon.nummers %}
                                        {{ form_widget(nummer.nummer, {'attr' : {'class' : 'input'}}) }}
                                    {% endfor %}
                                    <div class="bijsluiter">Welke 2 nummers wil je zeker horen op het feest?</div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% set teller = 0 %}
                        {% for persoon in form.personen %}
                            {% if not loop.first %}
                                <div class="form-row extraRij">
                                    <label for="{{ persoon.naam.vars.id }}">Extra naam ({{ teller }})*</label>
                                    {{ form_widget(persoon.naam, {'attr' : {'class' : 'input'}}) }}
                                    <span class="backendError">{{ form_errors(persoon.naam) }}</span>
                                    <label>Verzoeknummers</label>
                                    {% for nummer in persoon.nummers %}
                                        {{ form_widget(nummer.nummer, {'attr' : {'class' : 'input'}}) }}
                                    {% endfor %}
                                    <div class="bijsluiter">Welke 2 nummers wil je zeker horen op het feest?</div>
                                </div>
                            {% endif %}
                            {% set teller = teller + 1 %}
                        {% endfor %}



                    </div>
                    <div class="form-row">
                        <label for="{{ form.emailadres.vars.id }}">E-mail*</label>
                        {{ form_widget(form.emailadres, {'attr' : {'class' : 'input'}}) }}
                        <span class="backendError">{{ form_errors(form.emailadres) }}</span>
                    </div>
                    <div class="form-row">
                        <label for="{{ form.vragen.vars.id }}">Vragen?</label>
                        {{ form_widget(form.vragen, {'attr' : {'cols' : '30', 'rows' : '10', 'class' : 'input'}}) }}
                    </div>
                    <div class="form-row knoppen">
                        <div class="floatLeft">
                            {{ form_widget(form.opslaan, {'attr' : {'class' : 'opslaanKnop'}}) }}
                            <a href="{{ path('home') }}">Annuleer</a>
                        </div>
                        <div class="floatRight" style="line-height: 45px;">
                            <a href="mailto:dietermeys@gmail.com?SUBJECT=Problemen bij de RSVP" style="vertical-align: middle;;">Probleem?</a>
                        </div>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </body>
{% endblock %}

{% block javascripts %}
    <script>
        window.onload = function() { document.body.classList.remove('is-preload'); }
        window.ontouchmove = function() { return false; }
        window.onorientationchange = function() { document.body.scrollTop = 0; }
    </script>
{% endblock %}
