{% extends 'base.html.twig' %}
{% block title %}RSVP | {{ parent() }}{% endblock %}

{% block body %}
    <body>
        <div class="rsvp">
            <div class="formulier">
                <h1>RSVP</h1>
                {{ form_start(form) }}
                    <div class="form-row">
                        <label for="aantal">Met hoeveel personen komen jullie?*</label>
                        {{ form_widget(form.aantalPersonen, {'attr' : {'class' : 'input'}}) }}
                    </div>
                    <div class="extraPersonen">
                        <div class="form-row vast">
                            {% for persoon in form.personen %}
                                <label for="">Eerste naam*</label>
                                {{ form_widget(persoon.naam, {'attr' : {'class' : 'input'}}) }}
                                <label for="">Verzoeknummers</label>
                                {% for nummer in persoon.nummers %}
                                    {{ form_widget(nummer.nummer, {'attr' : {'class' : 'input'}}) }}
                                {% endfor %}
                                <div class="bijsluiter">Welke 2 nummers wil je zeker horen op het feest?</div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="email">E-mail*</label>
                        {{ form_widget(form.emailadres, {'attr' : {'class' : 'input'}}) }}
                    </div>
                    <div class="form-row">
                        <label for="opmerkingen">Vragen?</label>
                        {{ form_widget(form.vragen, {'attr' : {'cols' : '30', 'rows' : '10', 'class' : 'input'}}) }}
                    </div>
                    <div class="form-row knoppen">
                        <div class="floatLeft">
                            {{ form_widget(form.opslaan, {'attr' : {'class' : 'opslaanKnop'}}) }}
                            <a href="{{ path('home') }}">Annuleer</a>
                        </div>
                        <div class="floatRight" style="line-height: 45px;">
                            <a href="mailto:dietermeys@gmail.com?SUBJECT=Problemen bij de RSVP" style="vertical-align: middle;;">Probleem?</a>
                        </div>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </body>
{% endblock %}

{% block javascripts %}
    <script>
        window.onload = function() { document.body.classList.remove('is-preload'); }
        window.ontouchmove = function() { return false; }
        window.onorientationchange = function() { document.body.scrollTop = 0; }
    </script>
{% endblock %}
